@model System.Collections.Generic.List<RatedIn.Models.Player>

@{
    ViewBag.Title = "title";
    //Layout = "_Layout";
}

<h2>title</h2>

<a href="@Url.Action("UpdateRank", "Player", new {won = Model[0].Id, lost = Model[1].Id})">
    <div style="display: inline-block" class="btn btn-default">
        <h4>@Html.DisplayFor(model => model[0].Name)</h4>
        <hr/>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model[0].URL)
            </dt>

            <dd>
                @Html.DisplayFor(model => model[0].URL)
            </dd>
        </dl>
        @Html.ActionLink("Vote!", "UpdateRank", new {won = Model[0].Id, lost = Model[1].Id})
    </div>
</a>


<a href="@Url.Action("UpdateRank", "Player", new { won = Model[1].Id, lost = Model[0].Id })">
    <div style="display: inline-block" class="btn btn-default">
        <h4>@Html.DisplayFor(model => model[1].Name)</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model[1].URL)
            </dt>

            <dd>
                @Html.DisplayFor(model => model[1].URL)
            </dd>
        </dl>
        @Html.ActionLink("Vote!", "UpdateRank", new { won = Model[1].Id, lost = Model[0].Id })
    </div>
</a>





<p>
    @Html.ActionLink("Back to List", "Index")
</p>
