
@using Microsoft.Ajax.Utilities
@using RatedIn.Models
@model RatedIn.Models.Players

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Player</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Avatar
        </dt>

        <dd>
            @{
                var url = "";
                if (Model.FilePaths.Count > 0)
                {
                    url = Model.FilePaths.First().FileName;
                }
            }
            <img src="~/files/@url" alt="" style="width: 20px; height: 20px;" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Games)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Games)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
