@using Microsoft.Ajax.Utilities
@model RatedIn.ViewModels.TournamentViewModel

<div>
    <h4>@Html.DisplayFor(model => model.TournamentName)</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

    </dl>
    <div>
        @Html.ActionLink("Play", "Game", new { id = Model.TournamentId }) |
    </div>
    <h5>Players</h5>    
    <div>
        @foreach (var player in Model.Players.Where(player => player != null))
        {
            <div>@player.Name</div>
            <div>@player.Rating</div>
        }
    </div>
</div>
<p>
    @Html.ActionLink("Add Player", "Attend", "Attendances", Model.TournamentId, 1 ) |
    @Html.ActionLink("Edit", "Edit", new {id = Model.TournamentId}) |
    @Html.ActionLink("Back to List", "Index")
</p>
