@using RatedIn.Models
@model List<Player>

@{
    Layout = "_Layout";
}

<h2>Game</h2>

<a href="@Url.Action("UpdateRank", "Tournament", new {won = Model[0].Id, lost = Model[1].Id})">
    <div style="display: inline-block" class="btn btn-default">
        <h4>@Html.DisplayFor(model => model[0].Name)</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Avatar
            </dt>

            <dd>
                @Html.DisplayFor(model => model[0].FilePaths)
            </dd>

            <dd>
                <img src="~/files/@Model[0].FilePaths.First(f => f.FileType == FileType.Img).FileName" alt="" />
            </dd>

        </dl>
        @Html.ActionLink("Vote!", "UpdateRank", new { won = Model[0].Id, lost = Model[1].Id })
    </div>
</a>


<a href="@Url.Action("UpdateRank", "Tournament", new {won = Model[1].Id, lost = Model[0].Id})">
    <div style="display: inline-block" class="btn btn-default">
        <h4>@Html.DisplayFor(model => model[1].Name)</h4>
        <hr/>
        <dl class="dl-horizontal">
            <dt>
                Avatar
            </dt>

            <dd>
                <img src="~/files/@Model[1].FilePaths.First(f => f.FileType == FileType.Img).FileName" alt=""/>
            </dd>
        </dl>
        @Html.ActionLink("Vote!", "UpdateRank", new {won = Model[1].Id, lost = Model[0].Id})
    </div>
</a>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>