@model RatedIn.ViewModels.GameViewModel

<h2>Game</h2>

<a href="@Url.Action("UpdateRank", "Tournament", new { won = Model.Players[0].Id, lost = Model.Players[1].Id, tournamentId = Model.TournamentId })">
    <div style="display: inline-block" class="btn btn-default">
        <h4>@Model.Players[0].Name</h4>
        <hr />
        <div>
            <img src="~/files/@Model.Players[0].FilePaths.First().FileName" alt="" />
        </div>
        @Html.ActionLink("Vote!", "UpdateRank", new { won = Model.Players[0].Id, lost = Model.Players[1].Id, tournamentId = Model.TournamentId })
    </div>
</a>

<a href="@Url.Action("UpdateRank", "Tournament", new { won = Model.Players[1].Id, lost = Model.Players[0].Id, tournamentId = Model.TournamentId })">
    <div style="display: inline-block" class="btn btn-default">
        <h4>@Model.Players[1].Name</h4>
        <hr/>
        <div>
            <img src="~/files/@Model.Players[1].FilePaths.First().FileName" alt="" />
        </div>
        @Html.ActionLink("Vote!", "UpdateRank", new { won = Model.Players[1].Id, lost = Model.Players[0].Id, tournamentId = Model.TournamentId })
    </div>
</a>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>