@using Microsoft.Ajax.Utilities
@model RatedIn.ViewModels.TournamentViewModel

@{
    ViewBag.Title = "Tournament";
}

<h2>Tournament</h2>

<div>
    <h4>Tournament</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TournamentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TournamentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TournamentAdminId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TournamentAdminId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

    </dl>
    <dl class="dl-horizontal">
        @foreach (var player in Model.Players.Where(player => player != null))
        {
            <dt>Player</dt>
            <dd>
                @player.Name
            </dd>
            <dt>Rating</dt>
            <dd>@player.Rating</dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Add Player", "Attend", "Attendances", Model.TournamentId, 1 ) |
    @Html.ActionLink("Edit", "Edit", new {id = Model.TournamentId}) |
    @Html.ActionLink("Back to List", "Index")
</p>
